@import '../../index.scss';

.radio-toolbar {
    @include centerRow; 
    margin: 4% 10%;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    width: 0;
  }

  .radio-toolbar label {
    background-image: linear-gradient(to right, $darkOrange 0%, $orange 25%);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    
    // &:hover {
        //     background-position: right center; 
        // }
    }
    
    .radio-toolbar:hover {
        background-position: right center;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

.radio-toolbar input[type="radio"]:checked + label {
    border: solid red;
}