@import '../../index.scss';

.instruction {
    text-align: center; 
    font-size: large; 
    margin-top: 4%;
}

.radio-toolbar {
    @include centerRow; 
    margin: 2% 10%;

    label {
        background-image: linear-gradient(to right, $darkOrange 0%, $orange 25%);
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 16px;
        color: white;
            &:hover {
                background-image: linear-gradient(to right, $orange 0%, $lightOrange 25%);
                cursor: pointer; 
                color: black; 
        }
    }

    input[type="radio"] {
        opacity: 0;
        width: 0;
      }

      input[type="radio"]:checked + label {
        border: solid white;
    }

}


.date-container {
    @include centerRow; 
    justify-content: center;
}

.calendar {
    margin: 30px;
    width: 12%;
    height: 30px;
    font-size: medium;
}

.launch-btn {
    width: 10%;
    height: 35px;
    outline: none;
    background-color: white;
    border-radius: 4px;
    border: none;
            &:hover {
               background-color: $orange;
               color: white; 
               cursor: pointer; 
        }
}

@media screen and (max-width: 1100px) {

    .radio-toolbar {
        margin: 4%; 
    }

    .radio-toolbar label {
        padding: 10px; 
    }

    .calendar {
        margin: 20px; 
        width: 25%;
    }
  }
  
  
  @media screen and (max-width: 600px) {

    .radio-toolbar,  .date-container {
        flex-direction: column;
    }

    .calendar {
        width: 50%;
    }

    .launch-btn {
        width: 40%;
    }
  }