@import '../../index.scss';

header {
    @include centerColumn; 
    background-image: url("./mars-2051748.png");
    background-size: cover; 
    background-position: 50% 80%;
    height: 600px; 
    color: white; 
}

// .kenburns-right {
// 	-webkit-animation: kenburns-right 20s ease-out both;
// 	        animation: kenburns-right 20s ease-out both;
// }

.title {
    font-size: 5em;
    text-shadow: 2px 2px black;
}

// .text-pop-up-top {
// 	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
// 	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
// }

.tagline {
    padding-top: 20px; 
    text-shadow: 1px 1px black;
}