@import '../../index.scss';

header {
    @include centerColumn; 
    background-image: url("./mars-2051748.png");
    background-size: cover; 
    background-position: 50% 80%;
    height: 600px; 
    color: white; 
}

.title {
    font-size: 5em;
}
