@import '../../index.scss';

header {
    @include centerColumn; 
    background-image: url("./mars-2051748.png");
    background-size: cover; 
    background-position: 50% 80%;
    height: 600px; 
    color: white; 
}

.title {
    font-size: 5em;
    text-shadow: 2px 2px black;
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tagline {
    padding-top: 20px; 
    text-shadow: 1px 1px black;
}

.nav-btn-container {
    @include headerButtons;
    width: 100%;
    position: absolute;
    bottom: 185px;
}

.nav-btn {
    background-color: transparent;
    margin: 15px; 
    outline: none;
    border: none;
    color: white;
    font-size: x-large; 
            &:hover {
                color: $orange; 
            }
}