@mixin centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin centerRow {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@mixin headerButtons {
    display: flex; 
    justify-content: flex-end;
}